.App {
  text-align: center;
  background-image: url(../public/glassesImage/background.jpg);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.header-glasses {
  background: black;
  color: #fff;
  opacity: 0.7;
  padding: 20px;

}

.card-model {
  height: 100%;
  width: 100%;
}

.card-img {
  left: 23%;
  top: 18.5%;
  width: 53%;
}

/* @media(max-width:1200px) {
  .card-img {
    left: 23%;
    top: 18.5%;
    width: 53%;
  }
} */

/* .item-glasses {
  margin-top: 150px;

}

.item-glasses img {
  width: 100%;
  margin: auto;
}

.name {
  font-size: 15px;
  margin-bottom: 0;
}

.item-card {
  width: 50%;
  margin: auto;
} */